#book-div {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  width: 50vw;
  border-radius: 4px;
}

#buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab {
  border: none;
  padding: 0.2em;
  margin: 0 0.2em;
  background-color: transparent;
  cursor: pointer;
}

.active-tab {
  border-bottom: 1px solid black;
}

#go-back-btn {
  border: 1px solid black;
  padding: 1em;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

#book-info-container {
  /* border: 1px solid black; */
  border-radius: 4px;
  /* padding: 1em; */
  margin: 1em 0 0;
  display: flex;
  /* justify-content: space-between; */
}

#book-synopsis-container {
  border-radius: 4px;
  margin: 1em 0 0;
}

#book-cover {
  width: 20%;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 1rem;
  align-self: flex-start;
}

#book-title {
  font-size: 1.2rem;
  font-weight: normal;
}

#book-subtitle {
  color: grey;
  font-size: 0.9rem;
  margin: 0.2rem 0;
  font-weight: normal;
}

#book-authors {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  font-weight: normal;
}

#book-rating {
  font-size: 1rem;
  font-weight: 500;
}

.book-number {
  font-size: 0.8rem;
  color: grey;
  font-weight: normal;
}

.section-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

#synopsis {
  font-size: 1rem;
}

#synopsis > span {
  display: block !important;
}

hr {
  margin: 0.8rem 0;
}

.genre {
  list-style-type: none;
  margin: 0.2rem 0;
}

@media (max-width: 600px) {
  .body {
    width: 100vw;
  }

  #book-div {
    width: 75vw;
  }

  #book-cover {
    width: 40%;
  }
}
